html{
    margin: 0;
    background: #F5F7FB;
    font-family: "Inter", sans-serif;
}

.app-cont{
    color: #293264;
    cursor: default;
}

/* BACKGROUND */

.bg-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden scroll;
}

svg{
    position: absolute;
    z-index: -1;
}

#blob-blue{
    left: -90px;
    bottom: -90px;
}

#blob-yellow{
    right: -50px;
    top: -50px;
}

/* LANDING */

.landing-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-cont h1{
    font-size: 2rem;
    margin: 0;
}

.landing-cont h2{
    font-weight: 400;
    margin: 10px 0 30px;
    font-size: 1rem;
}

.landing-cont button{
    font-size: 1rem;
}

/* QUIZ */

.app-cont form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.card-cont{
    border-bottom: 1px solid #DBDEF0;
    padding: 16px 0;
    width: 100%;
}

.question{
    font-family: "Karla", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.15;
    margin: 0 0 12px;
}

.options-cont{
    flex-wrap: wrap;
    display: flex;
    margin: 0;
    gap: 6px 12px;
}

.answer-label{
    padding: .25rem .5rem;
    box-sizing: border-box;
    border: 1px solid #4D5B9E;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: 0.64rem;
    line-height: 12px;
}

.answer-input{
    appearance: none;
}

.selected,
.correct,
.wrong{
    border: none;
}

.selected{
    background-color: #D6DBF5;
}

.correct{
    background-color: #94D7A2;
}

.wrong{
    background-color: #F8BCBC;
}

.wrong,
.faded{
    opacity: 0.5;
}

.check-btn{
    margin: 20px 0 0;
}

.btn{
    background: #4D5B9E;
    color: #F5F7FB;
    font-family: "Inter", sans-serif;
    font-size: 0.64rem;
    padding: 11px 22px;
    border: none;
    border-radius: 11px;
    width: fit-content;
    cursor: pointer;
}

.replay-cont{
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: center;
    gap: 20px;
}

.score-text{
    margin: 0;
    font-size: 20px;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 768px){
    .app-cont{
        width: 700px;  
    }

    .bg-cont{
        overflow: hidden;
    }

    #blob-blue{
        left: -100px;
        bottom: -70px;
    }
    
    #blob-yellow{
        right: -70px;
        top: -70px;
    }

    .app-cont form{
        padding: 0;
    }

    .landing-cont h1{
        font-size: 60px;
    }

    .landing-cont h2{
        margin: 14px 0 36px;
        font-size: 28px;
    }

    .landing-cont button{
        font-size: 20px;
    }

    .question{
        font-size: 32px;
    }

    .answer-label{
        padding: .25rem 1.125rem;
        border-radius: 10px;
        font-size: 18px;
        line-height: normal;
    }

    .btn{
        font-size: 18px;
    }
}